/*reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    a, a:hover{
        text-decoration: none;
    }
    li{
        list-style-type: none;
    }
    audio, img, iframe, video{
        display: inline-block;
        height: auto;
        width: 100%;
    }
}
/*header*/
.top{
    background-color: black;
    padding: 10px; 
    .top-container{
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
        padding: 10px;   
        .logo{
            h1 {
                font-size: 2em;
            }
        }
        .container-links{
            .links{
                display: flex;
                flex-direction: row;
                gap: 15px;
                li{
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}

/*content*/
.content{
    min-height: 100svh;
}

/*banner*/
.banner{
    background-color: crimson;
    .container{
        margin: 0 auto;
        padding: 17.8em 0;
        text-align: center;
        width: 98%;
    }
}

/* about-us*/
.about-us {
    .container {
        margin: 0 auto;
        padding: 4em 0;
        width: 98%;
        .row {
            display: flex;
            align-items: center;
            flex-direction: row;
            .col-left, .col-right {
                padding: 15px;
                width: 50%;
            }

        }
    }
}